/*====BASE STYLES====*/
* {
  box-sizing: border-box;
}

/*HEADER STYLES*/
.cover {
  background: url(assets/wedding-landing-cover.jpg) no-repeat 70% center/cover;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  text-align: center;
  display: table;
}
@media (min-width: 768px) {
  .cover {
    background: url(assets/wedding-landing-cover.jpg) no-repeat center center;
    background-size: cover;
  }
  
  .event {
    width: 45%;
  }
}

.wrapper {
  display: table-cell;
  vertical-align: middle;
  padding: 0.625rem;
}

.event {
  background-color: hsla(100,0%,0%,.6);
  margin: 0 auto;
  letter-spacing: .1rem;
}

.tagline {
  font-family: 'Libre Baskerville', serif;
  font-variant: small-caps;
  font-size: 2rem;
  color: #fffaf0;
  padding-top: 1rem;
  
}

.tagline::after {
  display: block;
  content: "";
  background-color: #fffaf0;
  height: 1px;
  width: 14rem;
  margin: 1rem auto;
}
.name {
  font-family: 'Great Vibes', cursive;
  font-size: 7rem;
  color: #d2ba87;
  padding: 1.625rem;
}

.date {
  font-family: 'Libre Baskerville', serif;
  font-size: 1.325rem;
  color: #fffaf0;
  padding-bottom: 1.625rem;
}

.date::before, .date::after {
  display: inline-block;
  content: "";
  background-color: #fffaf0;
  height: .5px;
  width: 1rem;
  vertical-align: middle;
  margin: 0 1rem;
}

/*CONTENT STYLES*/
.content {
  background: url(assets/wedding-landing-background-white.png);
  font-family: 'Muli', sans-serif;
  line-height: 1.5rem;
  letter-spacing: 0.05rem;
  text-align: center;
  color: #444349;
  margin: 0 auto;
}

/*Locations styles*/
.main-headline {
  font-family: 'Great Vibes', cursive;
  padding: 2.5rem;
  margin: 0 auto;
  font-size: 3.625rem;
  font-weight: 500;
  text-align: center;
}

.locations h3 {
  font-weight: 900;
  font-size: 1.425rem;
  padding-bottom: 1.625rem
}

.locations img {
  width: 40%;
  height: auto;
}

.locations p {
  font-size: 1.125rem;
  padding: 1.625rem;
}

.locations p::after {
  display: block;
  content: "";
  background-color: #444349;
  height: 3px;
  width: 7rem;
  margin: 1rem auto;
}

@media (min-width: 768px) {
  .place {
    width: 33%;
    display: inline-block;
    margin-bottom: 1rem;
  }
  
  .locations p::after {
    display: none;
  }
  
  .locations img {
    width: 25%;
    height: auto;
  }
}

/*Program styles*/
.program {
  width: 100vw;
  background-color: hsla(100,0%,0%,.6);
  color: #d2ba87;
  text-align: left;
  font-size: 1.125rem;
  padding: 1.625rem;
}

.quote {
  margin-bottom: 1rem;
  font-weight: 900;
  font-style: italic;
}

ul {
  list-style-type: none;
}


@media (min-width: 768px) {
  .program {
    margin: 0 auto;
    text-align: center;
  }
}

/*Gifts styles*/
.gifts {
  font-family: 'Libre Baskerville', serif;
  font-size: 1.025rem;
  padding: 1.625rem;
}

.gifts img {
  width: 40%;
  height: auto;
  margin: 2rem auto;
}

@media (min-width: 768px) {
  .gifts img {
    width: 10%;
    height: auto;
  }
}

/*Q&A Styles*/
.q-and-a {
  background-color: hsla(100,0%,0%,.6);
  color: #d2ba87;
  text-align: left;
  padding: 1.625rem;
  font-size: 1.125rem;
}

.q-and-a h3 {
  font-family: 'Libre Baskerville', serif;
  font-variant: small-caps;
  font-weight: 900;
  letter-spacing: .1rem;
  font-size: 1.125rem;
  margin: 1rem auto;
  margin-top: 1.5rem;
  text-align: center;
}

.question {
  font-size: 1.125rem;
  font-weight: 900;
  font-style: italic;
  margin-top: 1rem;
}

.answer {
  margin-bottom: 1.5rem;
}

article::after {
  display: block;
  content: "";
  background-color: #d2ba87;
  height: 2px;
  width: 15rem;
  margin: .5rem auto;
}

@media (max-width:420px) {
  #smaller {
    font-size: 2.3rem;
    padding: .3rem;
  }
}

@media (min-width: 768px) {
  .travel, .food, .other {
    width: 33%;
    display: inline-block;
    padding: .5rem;
    vertical-align: top;
  }
  
  article::after {
    display: none;
  }
}

/*Contact Styles*/
.contact {
  padding: 1.625rem;
  font-size: 1.125rem;
}

/*FOOTER STYLES*/
.footer {
  background-color: #606060;
  color: #fffaf0;
  height: 10vh;
  width: 100vw;
  display: table;
  text-align: center;
  font-family: 'Libre Baskerville', serif;
  font-size: .85rem;
  padding: .3rem;
}

.footer-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.footer p {
  padding: .3rem;
  line-height: 1.5rem;
}

.footer small {
  letter-spacing: .025rem;
  font-weight: 800;
}

@media (min-width: 768px) {
  .footer {
    height: 5vh;
    font-size: .8rem;
  }
}

/*LINK STYLES*/
a {
  color: #bd806e;
  text-decoration: none;
}

a:hover {
  color: #eda087;
}